<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="logo-container">
      <img src="assets\images\logo.webp" alt="Logo" height="80" />
    </span>
    <span class="spacer"></span>
    <span class="user-info-container">
      Bienvenido, {{ userName ? userName : "usuario" }}
    </span>
    <span class="spacer"></span>
    <button
      *ngIf="userName"
      (click)="logout()"
      mat-icon-button
      aria-label="logout"
    >
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
